@use "@/assets/styles/general";

:root {
	--toolbar-width: 30rem;
}

.write-app {
	.article-container {
		padding-top: var(--app-header-height);
		padding-left: 10%;
		padding-right: var(--toolbar-width);
	}

	.article-area {
		padding: 4.8rem 6.4rem;
		// resetting the value from body
		line-height: normal;
	}

	.article-toolbar {
		position: fixed;
		top: var(--app-header-height);
		right: 0;
		bottom: 0;

		width: var(--toolbar-width);
		padding: 4.8rem 7.2rem 3rem 3rem;
		background-color: general.$background-color;
	}
}

.article-editor {
	font-size: 1.8rem;

	&:focus {
		box-shadow: none;
	}

	.link {
		color: general.$primary-color;
	}
}

.editor-block {
	padding: 0.8rem 1.6rem;
	border-left: solid 3px #aaa;
	margin-bottom: 4.8rem;

	// when the cursor is in that block
	&:focus,
	&--selected {
		border-color: general.$primary-color;
	}
}

ol.editor-block,
ul.editor-block {
	padding-inline-start: 4rem;
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
}

ul.editor-block {
	list-style: disc;
}

.editor-image {
	$spacing: 4.8rem;
	margin: $spacing 0;
}

blockquote.editor-block {
	background-color: rgba(128, 128, 128, 0.15);
	font-style: italic;
}

h1.editor-block,
input[name="article-title"] {
	position: relative;
	font-weight: 700;
	font-size: 4.8rem;
	margin-bottom: 2.4rem;

	&.title-placeholder:after {
		content: "Title";
		padding: 0.8rem 0;
		color: #bbb;
		position: absolute;
		pointer-events: none;
		top: 0;
	}
}

input[name="article-title"] {
	width: 100%;
}
