@use "@/assets/styles/general";

#write-app {
	width: 100%;
	max-width: 120rem;
	margin: 0 auto;

	display: flex;
	gap: 4.8rem;

	.article-area {
		margin-top: 4.8rem;
		flex: 1;
		// resetting the value from body
		line-height: normal;
	}

	.article-toolbar {
		width: 32rem;
		height: 100%;
		position: sticky;
		top: calc(var(--app-header-height) + 4.8rem);
	}
}

.form-input {
	width: 100%;
	transition: all 0.3s ease;
	border-left: solid 3px #aaa;
	padding: 0.8rem 1.6rem;

	&:focus {
		box-shadow: none;
		border-left-color: general.$primary-color;
	}

	&[name="article-title"] {
		font-size: 5.6rem;
		margin-bottom: 2.4rem;
	}

	&[name="article-subtitle"] {
		font-size: 2.4rem;
		margin-bottom: 4.8rem;
	}
}

.slate-editor {
	font-size: 1.8rem;

	&:focus {
		box-shadow: none;
	}

	.link {
		color: general.$primary-color;
	}
}

.editor-block {
	padding: 0.8rem 1.6rem;
	border-left: solid 3px #aaa;
	margin-bottom: 4.8rem;

	// when the cursor is in that block
	&.editor-block--selected {
		border-color: general.$primary-color;
	}
}

ol.editor-block,
ul.editor-block {
	padding-inline-start: 4rem;
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
}

ul.editor-block {
	list-style: disc;
}

.editor-image {
	$spacing: 4.8rem;
	margin: $spacing 0;
}

blockquote.editor-block {
	background-color: rgba(128, 128, 128, 0.15);
	font-style: italic;
}
