@use "@/assets/styles/general";

$splash-image: "@/assets/images/splash.png";

.home {
  .splash-section {
    // height: calc(100vh - var(--app-header-height));
    height: 100vh;
    margin: 0 auto;
    padding-top: 25vh;
  }

  .stories-section {
    max-width: 128rem;
    display: grid;

    // $side-cols-width:
    grid-template-columns: 1fr 72rem 1fr;
    column-gap: 8.4rem;

    margin: 4.8rem auto;
  }
}

// modify header styles
#root.route--home {
  .header {
    position: relative;
    border: none;
    background-color: transparent;

    &::after {
      background-color: transparent;
    }
  }

  .app-container {
    padding: 0;
  }
}

.splash-section {
  $alpha: 0.5;
  background-image: linear-gradient(rgba(#000, $alpha), rgba(#000, $alpha)),
    url($splash-image);
  background-size: cover;
  transform: translateY(calc(var(--app-header-height) * -1));

  .splash-container {
    max-width: 120rem;
    margin: 0 auto;
  }

  .splash-content {
    width: 50%;

    h1 {
      font-size: 5.6rem;
      line-height: 1.1;

      span.highlight {
        text-decoration: underline;
        text-decoration-color: general.$primary-color;
      }
    }
  }
}

.stories-section {
  .middle {
    h2 {
      font-size: 3.6rem;
      color: general.$primary-color;
      margin-bottom: 6.4rem;
      // text-transform: uppercase;
    }
  }

  .ads {
    background-color: green;
  }

  .sidebar {
    .cta-element {
      .tagline {
        font-size: 2.4rem;
        margin-bottom: 1.8rem;
      }

      .email-textfield {
        font-size: 1.6rem;
      }

      .mail-icon {
        font-size: 2rem;
      }
    }
  }
}

.story-card {
  display: flex;
  flex-direction: column;

  position: relative;
  height: 30rem;
  padding: 1.8rem 3rem;
  margin-bottom: 4.8rem;
  @include general.elevation(0.1);
  overflow: hidden;

  .story-author {
    margin-bottom: 1.8rem;
  }

  .card-content {
    display: grid;
    grid-template-columns: 22rem auto;
    gap: 3.6rem;
    flex: 1;

    .thumbnail-container {
      background-color: grey;

      .thumbnail {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .card-right {
      overflow: hidden;

      .title {
        font-size: 3rem;
        margin-bottom: 1.8rem;
        font-weight: 600;
      }

      .gist {
        display: block;
        height: calc(100%);
        // background-color: red;

        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.4;
        text-overflow: ellipsis;

        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        white-space: pre-wrap;
      }
    }
  }
}
