@use "assets/styles/general.scss";

.form-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);

	display: flex;
	flex-direction: column;

	width: 42rem;
}

.form-tabs {
	width: 100%;
	display: flex;
	position: relative;

	li {
		flex: 1;

		a {
			display: inline-block;
			width: 100%;
			font-size: 1.8rem;
			text-align: center;
			padding: 1.6rem 0;
			color: general.$primary-color;
			// background-color: general.$primary-color;

			&:focus {
				box-shadow: none;
			}
		}
	}

	&::after {
		content: " ";
	}

	.line {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 50%;

		background-color: general.$primary-color;
		height: 2px;
	}
}

.form-tab-content {
	display: grid;
	grid-template-columns: 1fr;
	flex-grow: 1;

	li {
		grid-area: 1 / 1 / 2 / 2;

		opacity: 0;
		visibility: hidden;
		pointer-events: none;

		&.active-tab-content {
			visibility: visible;
			pointer-events: all;
		}
	}
}

.auth-form {
	display: flex;
	flex-direction: column;
	padding: 3.6rem 1.8rem;
	gap: 5.6rem;

	.form-header {
		align-self: center;
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
		align-items: center;

		h1 {
			font-size: 2.4rem;
		}

		p {
			font-size: 1.6rem;
		}
	}

	button {
		transition: all 0.3s ease;
		background: general.$primary-color;
		color: white;
		padding: 1rem 2rem;
		font-size: 1.8rem;
		align-self: flex-end;
		font-weight: 500;

		display: flex;
		gap: 1.2rem;
		align-items: center;

		.loader {
			transform: scale(0.5);
		}

		&:not(:disabled):hover {
			color: general.$primary-color;
			background: white;
			box-shadow: inset 0 0 0 2px general.$primary-color;
		}

		&:disabled {
			cursor: not-allowed;
			background-color: rgb(255, 135, 135, 0.6);
		}
	}
}

.inputs {
	$input-gap: 1.8rem;
	display: flex;
	flex-direction: column;
	border: none;
	padding: 0 1.8rem;

	input {
		border: 1px solid #aaa;
		padding: 1rem 2rem;
		width: 100%;
		font-size: 1.6rem;

		&:focus {
			border-color: general.$primary-color-dim;
		}
	}

	.input-box + .input-box {
		margin-top: $input-gap;
	}

	.name-inputs {
		display: flex;
		gap: $input-gap;

		input {
			flex-grow: 1 !important;
		}
	}
}

.password-options {
	margin-top: 2.8rem;
	display: flex;
	justify-content: space-between;
	width: 100%;

	.remember-user-option {
		display: flex;
		font-size: 1.4rem;
		white-space: nowrap;
		gap: 5px;

		input {
			height: 100%;
		}
	}

	.forgot-pwd-link {
		align-self: flex-end;
		color: general.$primary-color;
		font-size: 1.4rem;

		&:hover,
		&:active {
			text-decoration: underline;
		}
	}
}
