$keyword-color: rgb(45, 217, 218);
$error-color: #ff5555;

.error-page-container {
	height: 100vh;
	width: 100vw;
	background-color: #111;
	color: white;
	position: fixed;

	overflow-y: scroll;
}

.error-dev-element {
	height: 100vh;
	width: 80vw;
	padding-top: 5%;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	font-size: 20px;

	h1 {
		margin-bottom: 50px;
	}
}

.error-info {
	display: flex;
	flex-direction: column;

	.error-name {
		color: $keyword-color;
		margin-bottom: 14px;
	}

	.error-message {
		color: $error-color;
		margin-bottom: 14px;
	}

	.error-path {
		margin-bottom: 28px;
	}

	.error-stack {
		font-size: 1.6rem;
		color: white;
		line-height: 1.5;
		// border-radius: ;
	}
}
