.story-author {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.8rem;

  .author-image {
    border-radius: 50%;
    object-fit: cover;
    $diameter: 4.8rem;
    height: $diameter;
    width: $diameter;
  }

  .author-details {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .author-name {
      font-size: 1.8rem;
    }

    .story-info {
      color: rgba(255, 255, 255, 0.5);
      display: flex;
      gap: 0.8rem;
    }
  }
}
