@use "@/assets/styles/general";

.input-container {
	display: flex;
	align-items: center;
	gap: 1.2rem;
	border-bottom: 2px solid #aaa;

	&,
	& * {
		transition: all 0.15s ease-out;
	}

	input {
		align-self: stretch;
		flex: 1;
		&:focus {
			border-color: general.$primary-color;
			box-shadow: none;
		}
	}

	.prefix-icon {
		font-size: 2.4rem;
	}

	.suffix-icon {
		font-size: 2.4rem;
	}

	.warning-icon {
		color: general.$error-color;
	}
}

.input-focused {
	.prefix-icon {
		color: general.$primary-color;
	}

	.input-container {
		border-color: general.$primary-color;
	}
}

.message {
	display: none;
	align-items: center;
	opacity: 0;

	&.active {
		display: flex;
	}

	color: general.$error-color;
	margin-top: 10px;
	font-size: 1.4rem;
}
