@use "@/assets/styles/general";

.editor-image {
	margin: 0 auto;
	gap: 0.8rem;
	width: 100%;

	.image-wrapper {
		position: relative;
	}

	.image-buttons {
		$offset: 15px;

		display: flex;
		gap: $offset;
		flex-direction: row-reverse;
		transition: all 0.3s ease;

		position: absolute;
		top: $offset;
		right: $offset;

		visibility: hidden;
		pointer-events: none;
		opacity: 0;

		button {
			background-color: #333333;
			box-shadow: 0px 0px 5px 0px rgba($color: #000000, $alpha: 0.1);
			transition: all 0.15s ease-in-out;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.6rem;

			&:hover,
			&:active {
				background-color: #444444;
			}
		}

		ion-icon {
			font-size: 2.4rem;
			color: general.$primary-color;
		}
	}

	.image-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	img {
		transition: all 0.3s;
		// max-height: 40rem;
		max-width: 100%;
		object-fit: cover;
		margin-bottom: 1.2rem;
	}

	.image-caption {
		display: grid;
		grid-template-columns: 1fr;
		width: 80%;

		input {
			display: block;
			// width: 80%;
			border-bottom: 2px solid #aaa;
			background-color: general.$background-color;
			text-align: center;
			font-size: 1.6rem;
			padding-bottom: 3px;

			&:focus {
				box-shadow: none;
				border-color: general.$primary-color;
			}

			resize: none;
		}

		& > * {
			grid-area: 1 / 1 / 2 / 2;
		}
	}

	// editor-image--selected
	&--#{"selected"} {
		img {
			box-shadow: 0px 0px 0px 5px general.$primary-color;
		}

		.image-buttons {
			visibility: visible;
			pointer-events: all;
			opacity: 1;
		}
	}
}
