@use "@/assets/styles/general";

.editor-image {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
	// background-color: red;

	.image-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	img {
		transition: all 0.3s;
		max-height: 40rem;
		object-fit: cover;
		margin-bottom: 1.2rem;
	}

	.image-caption {
		display: grid;
		grid-template-columns: 1fr;

		input {
			border-bottom: 2px solid #aaa;
			text-align: center;
			font-size: 1.6rem;
			padding-bottom: 3px;
			display: block;

			&:focus {
				box-shadow: none;
				border-color: general.$primary-color;
			}
		}

		& > * {
			grid-area: 1 / 1 / 2 / 2;
		}
	}

	// editor-image--selected
	&--#{"selected"} {
		img {
			box-shadow: 0px 0px 0px 5px general.$primary-color;
		}
	}
}
