@use "@/assets/styles/general";

.image-editor-container {
	padding: 2.4rem;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
	background-color: #4d4d4d;

	display: flex;
	flex-direction: column;
	gap: 1.8rem;

	.form-row {
		display: flex;
		align-items: flex-end;
		gap: 1.4rem;
		margin-bottom: 1.2rem;

		.image-url-input input {
			font-size: 1.6rem;
		}
	}

	.or-element {
		display: flex;
		align-items: center;
		font-size: 1.4rem;
		font-family: general.$sans-serif-font;

		.or {
			margin: 0 1rem;
		}

		.line {
			border: 1px solid rgba(255, 255, 255, 0.3);
			flex: 1;
			height: 1px;
		}
	}

	.upload-image-button {
		align-self: center;

		font-family: general.$sans-serif-font;
		color: general.$primary-color;
		font-weight: 500;
		font-size: 1.6rem;
	}

	.upload-info {
		.upload-track {
			background-color: rgba($color: white, $alpha: 0.3);
			height: 25px;
			width: 100%;

			.upload-bar {
				transition: all 0.3s ease;
				height: 25px;
				background-color: general.$primary-color;
			}
		}

		.upload-status {
			font-size: 1.4rem;
		}
	}
}
