.input-wrapper {
	// position: relative;

	.message-icon {
		margin-right: 5px;
		font-size: 18px;

		// position: absolute;
		// right: 0;
		// top: 0;
	}
}

.message {
	display: none;
	align-items: center;
	opacity: 0;

	&.active {
		display: flex;
	}

	color: #b33a3a;
	margin-top: 10px;
	font-size: 1.4rem;
}
