// Colors
// $primary-color: rgb(255, 135, 135);
// $primary-color-dim: rgb(248, 196, 180);
// $secondary-color: rgb(188, 226, 158);
// $secondary-color-dim: rgb(229, 235, 178);
// $error-color: #ed4337;

$primary-color: #eee82c;
$secondary-color: #598b2c;
$background-color: #121212;
$font-color: #eeeeee;
$error-color: #af1b3f;

$primary-color-dim: ṛgba($primary-color, 0.3);
$secondary-color-dim: ṛgba($secondary-color, 0.3);

$primary-color: #eee82c;
$hover-color: rgba(225, 220, 62, 0.496);

// fonts
$serif-font: "Source Serif Pro", serif;
$sans-serif-font: "DM Sans", sans-serif;

// shadow
$shadow: 0px 0px 3px 0px rgba(123, 123, 123, 0.75);

@mixin elevation($alpha) {
	&::after {
		content: "";
		pointer-events: none;
		position: absolute;
		background-color: rgba(255, 255, 255, $alpha);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
